test-results/
playwright-report/
blob-report/
dist-react/
# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/coverage
npm-debug.log

# System Files
.DS_Store
Thumbs.db
*.iml
