.loading-indicator {
  padding: 15px;
  color: #777;
}

.loading-indicator-spin {
  animation: loading-indicator-rotate 1s linear infinite;
}

@keyframes loading-indicator-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
